@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.template {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

.dt-top {
  width: 100%;
  margin-bottom: 30px;
}

select {
  width: 100%;
  height: 40px;
  display: block;
  font-size: 13px;
  font-weight: 600;
  background-color: #f2f2f2;
  border: solid 1px #dee;
  padding: 5px 10px;
  border-radius: 5px;
}

.select-error {
  border: 1px red solid;
}

.error {
  font-size: 12px;
  font-weight: 500;
  color: red;
  display: inline-block;
}

.dt-section {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.dt-section h4 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.img-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.img-list img {
  flex: 0 0 20%;
  width: 200px;
  height: 50px;
  margin-right: 40px;
  margin-bottom: 20px;
}

iframe,
video {
  width: 680px;
  height: 300px;
}

img {
  display: block;
  width: 800px; 
  height: 520px;
}

@media only screen and (max-width: 600px) {
    .template {
      padding: 15px 10px;
    }
    .dt-top select {
      font-size: 12px;
    }
    .dt-section h4 {
      font-size: 18px;
    }
    .img-list img {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 10px;
    }
    iframe,
    video {
      width: 100%;
      height: auto;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  